{% extends "santa/base.html" %}
{% block title %}Signup{% endblock %}

    {% block content %}
        <div class="card">

            <form method="POST" class="signup_form">

                

                {% csrf_token %}
                <h1>Create account</h1>

                <p class="sub">Sign up to get started with Secret Santa</p>

                <hr>
                
                <!-- Display error/success messages -->
                {% if messages %}
                <div class="alert" role="alert">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </div>
                {% endif %}

                <!-- First Name input field -->
                <div class="form-group">
                    <label for="first_name">Name</label>
                    <input type="text" class="form-control" id="first_name" aria-describedby="emailHelp"
                        placeholder="Shown to others" name="first_name" required>
                </div>

                <!-- email input field -->
                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp"
                        placeholder="Enter your email" required>
                </div>

                <!-- Password input field -->
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="password" class="form-control" id="password" placeholder="Password" required>
                </div>

                <!-- Link to registration page -->
                <p>Already have an account? <a href="{% url 'login' %}">Login</a> </p>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary">Sign Up</button>


            </form>
        </div>
        {% endblock %}
